        
        /* sizing */

        html {
          height: 100%;
          box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
          box-sizing: inherit;
        }
        img {
            position: relative;
            max-width: 20%;
            max-height: 5%;
        }


        body {
            position: relative;
            margin: 0;
            padding-bottom: 6rem;
            min-height: 100%;
            font-family: "Helvetica Neue", Arial, sans-serif;
        } 
        footer {
            background-color: #ffda56;
            position: fixed;
            width: 100%;
            bottom: 0;
            text-align: center;
            color: #9b0700;
        }  

        /* Add a black background color to the top navigation */    

        .topnav {
            background-color: #9b0700;
            overflow: hidden;
        }

        /* Style the links inside the navigation bar */
        .topnav a {
            float: left;
            display: inline;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
        a:link, a:visited {
            text-decoration: none;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #d60000;
            color: #fcc500;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
            background-color: #fcc500;
            color: #d60000;
        }
        
        h1,h2,h3 {
            color: #630400;
            padding: 1rem; 
        }
        h4,h5,h6,p {
            text-align: center;
            font-family: "Helvetica Neue", Arial, sans-serif;
            color: #9b0700;
            padding: 1rem;
        }

 