<style>
form {
    padding-left:25%;
    padding-right:25%;
    font-family: averia-serif-libre, sans-serif;
    text-align: center;
    margin:auto;
}
input[type=text], input[type=password] {
    font-family: averia-serif-libre, sans-serif;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid red;
}
.button {
    font: helvetica;
    background-color: #9b0700;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    display: inline;
    border-radius: 8px;
}


h2 {
  font-family: averia-serif-libre, sans-serif;
  text-align: center;
}
</style>
