form {
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 0px;
}
.feed {
  width: 100%;
  height: 100%;
  color: #E2EFEF;
  align-content: center;
  overflow: scroll;
}
.post {
  color: #4C7F19;
  border: 2px solid #5F1313;
  cursor: pointer;
  padding-top: 3em;
  padding-right: 5em;
  padding-left: 5em;
  padding-bottom: 3em;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 15px;
  border-radius: 25px;
  background: #BCA9CF;
}
#when {
  font-size: 11px;
}
#who {
  font-size: 14px;
  color: black;
  text-align: center
}
#title {
  text-align: center;
}
#desc {
  text-align: center;
  font-size: 11px;
}
#amount {
  font-size: 16px;
  text-align: right
}
#idn {
  text-align: left;
  font-size: 10px
}