    <style>

    body {
        background: #E2EFEF;
        text-align: center;
        display: inline-block;
        text-align: left;
    }
    .logo 
    img {
        position: relative;
        max-width: 20%;
        max-height: 5%;
    }
    #myTopnav {
        position: absolute;
        right: 0;
        left: 0;
        text-align: center; /* To center it horizontally (if you want) */
        padding: 1%;
        font-family: averia-serif-libre, sans-serif;
        
        background: #7F1919;
    }

    .topnav a {
        color:#A68CBF;
        padding: 1%;
        text-decoration: none;
    }
    
    .topnav a:hover {
        font-weight:bold;
        background-color:#5F1313;
        color: #8F6FAF;
        text-decoration: none;
    }
    @font-face {
        font-family: averia-serif-libre, sans-serif;
    }
    .ffooter a, .ffooter a:link, .ffooter a:active {
        padding:3%;
        text-align: center;
        color: #8be5c5;
        text-decoration: none;
    }
    .ffooter a:hover {
        color: #799F53;
        background: #A9CFCF;
        font-weight:bold;
        padding: 1%;
    }
    #myFooter {
        font-family: averia-serif-libre, sans-serif;
        margin: 1;
        position: absolute;
        background-attachment: scroll;
        background-position: 0% 0%;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;

        text-align: center;
        background: #197F7F;
        color: #69af96;
        
        } 
    p {
        display: block;
    }
    <style>