    <style>
    body {
        color: gray;
        text-align: center;
        display: inline-block;
    }
    .logo 
    img {
        position: relative;
        max-width: 20%;
        max-height: 5%;
    }
    #myTopnav {
        /*width: 10%;*/
        height: 30px;
        text-align: center; /* To center it horizontally (if you want) */
        line-height: 30px; /* To center it vertically */
        font-family: averia-serif-libre, sans-serif;
        padding:1%;
        word-spacing: 3px;
        border-radius: 25px;
        background: #69af96;
    }

    .topnav a, .topnav a:link, .topnav a:active {
        padding-right:40px;
        color:#e6ebf4;
        text-decoration: none;
    }
    .topnav a:hover {
        font-size:150%;
        text-decoration: none;
    }
    @font-face {
        font-family: averia-serif-libre, sans-serif;
    }
    .ffooter a, .ffooter a:link, .ffooter a:active {
        padding:40px;
        text-align: center;
        color: #8be5c5;
    }
    .ffooter a:hover {
        text-decoration: none;
    }
    #myFooter {
        font-family: averia-serif-libre, sans-serif;
        margin: 1;
        position: absolute;
        background-attachment: scroll;
        background-position: 0% 0%;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        background-color: #efefef;
        text-align: center;
        background: #A5A5AF;
        color: #69af96;
        } 
    p {
        display: block;
    }
    </style>
