<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    background: #e6ebf4;
}

td, th {
    border: 1px solid #89ed80;
    text-align: left;
    padding: 5px;
    padding-bottom: 20px;
}

tr:nth-child(even) {
    background-color:#89ed80 ;
}
h3 {
	text-align: center;
}
div.container {
	margin:auto;
	background:#89ed80;
	width:40%;
	padding:20px;
	border-radius: 25px;
}
div.invite,input.invite {
	display:inline;
}
p.message, div.code {
	margin:auto;
	text-align: left;
}
div.code {
	text-align: center;
	display: inline;
}
button {
	border-radius: 25px;
	background: #62f442;
}
</style>