<head>
{% extends "basic.html" %}
{% block content %}
<head>
    <title>Create Account</title>
    <link rel="stylesheet" href="static/addform.css">
</head>
<body>
<p>
<body>

<h2>Create account</h2>

<form action="/record_account" method="post">
<p>
  <div class="container" style="display:inline-block;">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">


    <label><b>Chosen name:</b></label>
    <input type="chosen_name" placeholder="Enter Name" name="name">
    
    <label><b>E-mail Address:</b></label>
    <input type="email" placeholder="Enter your E-mail" name="email">

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw1">

    <label><b>Reenter Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw2">

    <button type="submit">Login</button>
  </div>

  <div class="container" style="display: inline-block;">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Already have an account? <a href="/login">Log in!</a></span>
  </div>
  </p>
</body>
{% endblock %}
</head>
