<!DOCTYPE html>
<html>
<head>
<script src="//use.edgefonts.net/averia-serif-libre.js"></script>
    <title>ReeDistribute</title>
    <link rel="stylesheet" href="static/style.css">   
</head>
            
<body>
    <h1>
        <div class="logo">
<!--         <p>
        <a href="/">ReeDistribute</a>
         </p> --> 
        <a href="/">
        <img border="0" alt="ReeDistribute" src="static/reed_logo.png">
        </a>
        </div>

    </h1>
        <div class="topnav" id="myTopnav">
            {% if "{{ loggedin }}" == true %}
            <a href="/"> Hello admin! </a>
            {% else %}
            <a href="/create_account">Create an account</a>
            <a href="/login">Log in</a>
            {% endif %}
            <a href="/account_info"> Account info </a>
            <a href="/log_donation">Donate</a>
            <a href="/open_request">Make a request</a>
            <!-- if user is admin
            <a href="/admin">Check pending requests </a> -->
        </div>
        
    <p>
      {% block content %}
      {% endblock %}
    </p>

</body>
<footer>
<div class="ffooter" id="myFooter">
    
    <a href="http://www.reed.edu/sds/">About Us</a>
    
    <a href="/create_account">Create an account</a>
    
</div>    
</footer>
</html>