<!DOCTYPE html>
<html>
<head>
<script src="//use.edgefonts.net/averia-serif-libre.js"></script>
    <title>ReeDistribute</title>
    <link rel="stylesheet" href="static/B.css">
    
</head>
            
<body>
    <header> 
        <div class="logo">

        <a href="/">
        <img border="0" alt="ReeDistribute" src="static/reed_logo.png">
        </a>
        </div>
    
        <div class="topnav" id="myTopnav">
            <a href="/"> Requests </a>            
            {% if loggedin != False %}
            <a href="/account_info"> Account info </a>
            <a href="/open_request">Make a request</a>
            {% endif %}
            {% if loggedin == False %}
            <a href="/login">Log in</a>
            <a href="/create_account">Create an account</a>
            {% endif %}
            <a href="/donate">Donate</a>
            <!-- if user is admin
            <a href="/admin">Check pending requests </a> -->
        </div>
    </header>
        <br>
        <br>
        <div class="block">
      {% block content %}
      {% endblock %}
      <br>
        </div>
<br>
<footer>
<div class="ffooter" id="myFooter">
    
    <a href="http://www.reed.edu/sds/">About Us</a>
    
    <a href="/create_account">Create an account</a>
    
</div>    
</footer>
</body>
</html>