<!DOCTYPE html>
{% extends "basic.html" %} {% block content %}
<html>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>ReeDistribute</title>
    <link rel="stylesheet" href="static/feed.css">
    
  </head>


    <body>
        <div class="feed">
            {% for i in range(post.GetLength()) %}

        <div class="post">

          <post-title style="font-size:20px" class="title"> {{ post.ListIt(i,3) }} </post-title>
          <br><br>
          <author class="who"> <b>{{ post.ListIt(i,0) }} requests: </b> </author> 
          <post-amt class="amount "> ${{ post.ListIt(i,1) }} </post-amt>

          <br><br>

          <entry class="entry">
            <post-desc class="desc"> {{ post.ListIt(i,4) }}</post-desc>
            <br>
            <!-- post name will be referencing the database -->

            <form action="/charge" method="post" style="padding:0px">

              <noscript>You must <a href="http://www.enable-javascript.com" target="_blank">enable JavaScript</a> in your web browser in order to pay via Stripe.</noscript>
              <br>
              <input type="number" name="amount" id="amount" step='0.01' placeholder='0.00' onchange='setTwoNumberDecimal()' style="border-radius: 12px; background-color: white; display:inline-block;border:none; width:70px">
              
              <input 
              type="submit" 
              value="Donate to {{ post.ListIt(i,0) }}" 
              data-key="pk_test_KovI8IiKzzuFbk33ewAjbYzc" 
              data-currency="usd" 
              data-name="ReeDistribute goal: ${{ post.ListIt(i,1) }}" data-description="{{ post.ListIt(i,3) }}"
              style="border-radius: 12px; background-color: white; display:inline-block;border:none; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);"
              />

            

              <script src="https://checkout.stripe.com/v2/checkout.js"></script>
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

              <script>
                $(document).ready(function() {
                  var amount = $('amount').value * 100;
                  $(':submit').on('click', function(event) {
                    event.preventDefault();
                    var $button = $(this),
                      $form = $button.parents('form');
                    var opts = $.extend({}, $button.data(), {
                      token: function(result) {
                        $form.append($('<input>').attr({
                          type: 'hidden',
                          name: 'stripeToken',
                          value: result.id,
                          amount: amount,
                          stripeEmail: result.card.name
                        })).submit();
                      }
                    });
                    StripeCheckout.open(opts);
                  });
                });

              </script>
            </form>

            <!-- stripe API, data-name and data-desc should be a variable -->
          </entry>
        </div>
        <br>
  {% endfor %} {% endblock %}
  
</div>

</body>
