{% extends "basic.html" %}
{% block content %}
<head>
  <style type="text/css" media="screen">
  form {
  	float:center;
  	padding-left:40%;
  	padding-right:40%;
  }
  .amount {
    border: 3px solid #ccc;
}
.amount input {
    border: 5px;
}
</style>
</head>
  <form action="/charge" method="post" style="padding:0px">

    <noscript>You must <a href="http://www.enable-javascript.com" target="_blank">enable JavaScript</a> in your web browser in order to pay via Stripe.</noscript>
    <br>
    <input type="number" name="amount" id="amount" step='0.01' placeholder='0.00' onchange='setTwoNumberDecimal()' style="border-radius: 12px; background-color: white; display:inline-block;border:none; width:70px">
    
    <input 
    type="submit" 
    value="Donate" 
    data-key="pk_test_KovI8IiKzzuFbk33ewAjbYzc" 
    data-currency="usd" 
    data-name="ReeDistribute" data-description="Donation"
    style="border-radius: 12px; background-color: white; display:inline-block;border:none; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);"
    />

  

    <script src="https://checkout.stripe.com/v2/checkout.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

    <script src="static/javascript/index.js">

    </script>
  </form>
{% endblock %}
