<head>
{% extends "basic.html" %}
{% block content %}
<head>
    <title>Log in</title>
    <link rel="stylesheet" href="static/login.css">
</head>
<body>
<p>
<body>

<h2>Login</h2>

<form action="/" method="post">
<p>
  <div class="container" name="upw">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname">

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw">    
    <button type="submit">Login</button>
    <input type="checkbox" checked="checked"> Remember me
  </div>

  <div class="container" name="cancelb">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
  </p>
</body>
{% endblock %}
</head>
