<head>
{% extends "basic.html" %}
{% block content %}
<head>
    <title>Create Account</title>
    <link rel="stylesheet" href="static/request.css">
</head>
<body>
<p>
<body>

<h2>Submit a request</h2>

<form action="/basic" method="post">
<p>
  <div class="container" type="req">
    <label><b>Title:</b></label>
    <input type="title" placeholder="Title (optional)" name="title">

    <label><b>Amount:</b></label>
    <input type="number" placeholder="Amount $" name="amt" required><br>

    <label><b>Username:</b></label>
    <input type="user" placeholder="Username" name="uname" required>

    <label><b>Password:</b></label>
    <input type="password" placeholder="Password" name="pwd" required></br>
        
    <label><b>Description:</b></label>
    <input type="description" placeholder="Description" name="description" required><br>
    <input type="checkbox" checked="checked"> Anonymous<br>
    <button type="submit">Submit Request for Approval</button>
    </div>
    <br>
    <span class="psw">Don't have an account? <a href="/create_account">Create one!</a></span>
  </p>
</body>
{% endblock %}
