{% extends "basic.html" %} {% block content %}
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
h3 {
	text-align: center;
}

</style>
</head>
<body>
<table> 
<h3> All Active Requests </h3>
<tr>
<th> Post ID </th>
<th> Poster's ID </th>
<th> Title </th>
<th> Goal </th>
<th> Amount Filled </th>
<th> Actions </th>
</tr>
{% for i in range(10) %}
<tr>
<th> {{ i }} </th>
<th> {{ post.ListIt(i,6) }} </th>
<th> {{ post.ListIt(i,3) }} </th>
<th> ${{ post.ListIt(i,1) }}  </th>
<th> ${{ post.ListIt(i,2) }} </th>
<th> <a href="/"> ✖ </a> </th>
</tr>
{% endfor %}
</table>

<table> 
<h3> Filled Requests to be paid out </h3>
<tr>
<th> Post ID </th>
<th> Poster's ID </th>
<th> Title </th>
<th> Goal </th>
<th> Amount Filled </th>
<th> Log amount given to poster </th>
<th> Delete </th>
<th> Submit </th>
</tr>
{% for i in range(10) %}
<tr>
<th> {{ i }} </th>
<th> {{ post.ListIt(i,6) }} </th>
<th> {{ post.ListIt(i,3) }} </th>
<th> ${{ post.ListIt(i,1) }}  </th>
<th> ${{ post.ListIt(i,2) }} </th>
<th> <input type="number" name="amount_given" placeholder="0.00"> </th>
<th> <input type="checkbox" name="submit-delete"></th>
<th> <a href="/" style="text-align: center"> ✓ </a> </th>
</tr>
{% endfor %}
</table>




</body>
{% endblock %}
